<div class="flex justify-center pb-2.5 pt-5">
  <div class="card bg-base-200 w-261 shadow-sm h-20">
    <div class="card-body">
      <div class="text-xl w-20">printHub</div>
    </div>
  </div>
</div>

<div class="flex h-screen">

  <div class="flex flex-1 p-2.5 justify-end">
    <div class="card bg-base-200 w-lg shadow-sm h-fit">
      <div class="card-body">
        <h2 class="card-title">
          Dashboard
          <div class="badge badge-secondary">ADMIN</div>
        </h2>
        <div>Printer status</div>
        <div class="stats flex shadow bg-base-100">
          <div class="stat flex-auto place-items-center">
            <div class="stat-title">Name</div>
            <div class="stat-value">
              @if (!isTenantAuthenticated() || !isTenantAuthorized(['Admin'])) {
                {{ dataPlaceholder }}
              }
              @else if (isPrinterStatusLoaded()) {
                {{ getPrinterName() }}
              } @else {
                <span class="loading loading-dots loading-xl"></span>
              }
            </div>
          </div>
          <div class="stat flex-auto place-items-center">
            <div class="stat-title">Status</div>
            <div class="stat-value text-secondary">
              @if (!isTenantAuthenticated() || !isTenantAuthorized(['Admin'])) {
                {{ dataPlaceholder }}
              }
              @else if (isPrinterStatusLoaded()) {
                {{ getPrinterStatus() }}
              } @else {
                <span class="loading loading-dots loading-xl"></span>
              }
            </div>
          </div>
          <div class="stat flex-auto place-items-center">
            <div class="stat-title">Paper</div>
            <div class="stat-value">
              @if (!isTenantAuthenticated() || !isTenantAuthorized(['Admin'])) {
                {{ dataPlaceholder }}
              }
              @else if (isPrinterStatusLoaded()) {
                {{ getPrinterPaperStatus() }}
              } @else {
                <span class="loading loading-dots loading-xl"></span>
              }
            </div>
          </div>
        </div>
        <div>Message broker status</div>
        <div class="stats flex shadow bg-base-100">
          <div class="stat flex-auto place-items-center">
            <div class="stat-title">Queue</div>
            <div class="stat-value">Print</div>
          </div>
          <div class="stat flex-auto place-items-center">
            <div class="stat-title">Status</div>
            <div class="stat-value text-secondary">
              @if (!isTenantAuthenticated() || !isTenantAuthorized(['Admin'])) {
                {{ dataPlaceholder }}
              }
              @else if (isQueueStatusLoaded() && queueStatusData) {
                {{ getQueueStatus('print') }}
              } @else {
                <span class="loading loading-dots loading-xl"></span>
              }
            </div>
          </div>
          <div class="stat flex-auto place-items-center">
            <div class="stat-title">Message count</div>
            <div class="stat-value">
              @if (!isTenantAuthenticated() || !isTenantAuthorized(['Admin'])) {
                {{ dataPlaceholder }}
              }
              @else if (isQueueStatusLoaded() && queueStatusData) {
                {{ getQueueCount('print') }}
              } @else {
                <span class="loading loading-dots loading-xl"></span>
              }
            </div>
          </div>
        </div>
        <div class="stats flex shadow bg-base-100">
          <div class="stat flex-auto place-items-center">
            <div class="stat-title">Queue</div>
            <div class="stat-value">Error</div>
          </div>
          <div class="stat flex-auto place-items-center">
            <div class="stat-title">Status</div>
            <div class="stat-value text-secondary">
              @if (!isTenantAuthenticated() || !isTenantAuthorized(['Admin'])) {
                {{ dataPlaceholder }}
              }
              @else if (isQueueStatusLoaded() && queueStatusData) {
                {{ getQueueStatus('error') }}
              } @else {
                <span class="loading loading-dots loading-xl"></span>
              }
            </div>
          </div>
          <div class="stat flex-auto place-items-center">
            <div class="stat-title">Message count</div>
            <div class="stat-value">
              @if (!isTenantAuthenticated() || !isTenantAuthorized(['Admin'])) {
                {{ dataPlaceholder }}
              }
              @else if (isQueueStatusLoaded() && queueStatusData) {
                {{ getQueueCount('error') }}
              } @else {
                <span class="loading loading-dots loading-xl"></span>
              }
            </div>
          </div>
        </div>
        <div>Current tenant</div>
        <div class="stats flex shadow bg-base-100">
          <div class="stat flex-auto place-items-center">
            <div class="stat-title">Id</div>
            <div class="stat-value">
              @if (isTenantAuthenticated()) {
                {{ getTenantId() }}
              } @else {
                {{ dataPlaceholder }}
              }
            </div>
          </div>
          <div class="stat flex-auto place-items-center">
            <div class="stat-title">Role</div>
            <div class="stat-value text-secondary">
              @if (isTenantAuthenticated()) {
                {{ getTenantRole() }}
              } @else {
                {{ dataPlaceholder }}
              }
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <h2 class="card-title">
          Settings
        </h2>
        <div>Tenant authentication</div>
        <div>
          <input [(ngModel)]="tenantId" #tenantIdInput="ngModel" name="tenantIdInput" type="text" placeholder="Enter tenant id" class="input validator" maxlength="100" pattern=".*\S.*" />
          <div id="tenant-id-hint" class="validator-hint hidden">Must not be whitespace</div>
        </div>
        <div>
          <input [(ngModel)]="tenantToken" #tenantTokenInput="ngModel" name="tenantTokenInput" type="password" placeholder="Enter tenant token" class="input validator" maxlength="1000"
            pattern=".*\S.*" />
          <div id="tenant-token-hint" class="validator-hint hidden">Must not be whitespace</div>
        </div>
        <div class="card-actions justify-end pt-5">
          <button (click)="onTenantAuthSave()" [disabled]="isTenantSaveButtonDisabled() || tenantTokenInput.invalid || tenantIdInput.invalid" class="btn btn-primary">
            <div class="w-10">
              @if (isTenantAuthInProgress()) {
                <span class="loading loading-dots loading-md"></span>
              } @else {
                Save
              }
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-1 p-2.5 justify-start flex-col">
    <div class="card bg-base-200 w-lg shadow-sm h-fit mb-5">
      <div class="card-body">
        <h2 class="card-title">
          Publish message
          <div class="badge badge-secondary">ADMIN</div>
          <div class="badge badge-primary">USER</div>
        </h2>
        <div>Publish message for printing</div>
        <fieldset class="fieldset py-0!">
          <legend class="fieldset-legend">Message body type</legend>
          <select class="select" [(ngModel)]="selectedBodyType">
            <option *ngFor="let option of bodyTypeOptions" [ngValue]="option.value">{{ option.displayName }}</option>
          </select>
        </fieldset>
        <textarea class="textarea w-full" placeholder="Enter message title" maxlength="1000"></textarea>
        <textarea class="textarea w-full" [placeholder]="getBodyTypePlaceholder()" maxlength="10000"></textarea>
        <div class="card-actions justify-end pt-5">
          <button class="btn btn-secondary" [disabled]="!isTenantAuthenticated() || !isTenantAuthorized(['Admin', 'User'])">Reset</button>
          <button class="btn btn-primary" [disabled]="!isTenantAuthenticated() || !isTenantAuthorized(['Admin', 'User'])">Send</button>
        </div>
      </div>
    </div>
    <div class="card bg-base-200 w-lg shadow-sm h-fit mb-5">
      <div class="card-body">
        <h2 class="card-title">
          Feed paper
          <div class="badge badge-secondary">ADMIN</div>
        </h2>
        <div>Feed printer paper `n` times</div>
        <fieldset class="fieldset py-0!">
          <legend class="fieldset-legend">Selector type</legend>
          <select class="select" [(ngModel)]="selectedFeedSelectorType">
            <option *ngFor="let option of feedSelectorTypeOptions" [ngValue]="option.value">{{ option.displayName }}
            </option>
          </select>
        </fieldset>
        @if (selectedFeedSelectorType() == 'custom')
        {
        <input type="number" [(ngModel)]="selectedFeedTimes" class="input validator" required placeholder="Enter `n` times (5 to 255)" min="5" max="255"
          title="Must be between be 5 to 255" />
        <div class="validator-hint mt-0!">Must be between 5 to 255</div>
        }
        @if (selectedFeedSelectorType() == 'slider')
        {
        <div class="w-full max-w-xs">
          <input type="range" min="25" max="250" value="50" class="range w-116" step="25" />
          <div class="flex justify-between px-3.5 mt-2 text-xs w-116">
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
          </div>
          <div class="flex justify-between px-2.5 mt-2 text-xs w-116">
            <span>&nbsp;1</span>
            <span>&nbsp;2</span>
            <span>&nbsp;3</span>
            <span>&nbsp;4</span>
            <span>&nbsp;5</span>
            <span>&nbsp;6</span>
            <span>&nbsp;7</span>
            <span>&nbsp;8</span>
            <span>&nbsp;9</span>
            <span>10</span>
          </div>
        </div>
        }
        <div class="card-actions justify-end pt-5">
          <button class="btn btn-secondary" [disabled]="!isTenantAuthenticated() || !isTenantAuthorized(['Admin'])">Reset</button>
          <button class="btn btn-primary" [disabled]="!isTenantAuthenticated() || !isTenantAuthorized(['Admin'])">Send</button>
        </div>
      </div>
    </div>
    <div class="card bg-base-200 w-lg shadow-sm h-fit mb-5">
      <div class="card-body">
        <h2 class="card-title">
          Cut paper
          <div class="badge badge-secondary">ADMIN</div>
        </h2>
        <div>Cut paper: feeds `n*6` times, then cuts</div>
        <div class="card-actions justify-end pt-5">
          <button class="btn btn-primary" [disabled]="!isTenantAuthenticated() || !isTenantAuthorized(['Admin'])">Send</button>
        </div>
      </div>
    </div>
    <div class="card bg-base-200 w-lg shadow-sm h-fit">
      <div class="card-body">
        <h2 class="card-title">
          Republish messages
          <div class="badge badge-secondary">ADMIN</div>
        </h2>
        <div>Republish all messages from `error` queue to `print` queue</div>
        <div class="card-actions justify-end pt-5">
          <button class="btn btn-primary" [disabled]="!isTenantAuthenticated() || !isTenantAuthorized(['Admin'])">Send</button>
        </div>
      </div>
    </div>
  </div>

</div>

<router-outlet />