@import "tailwindcss";
@import 'ngx-toastr/toastr';

@plugin "@tailwindcss/forms";
@plugin "daisyui" {
  themes: dark --default, dim;
}

.toast-container {
  @apply flex justify-start;
}

.toast-container .toast-success {
  @apply bg-[oklch(86.133%_0.141_139.549)] text-[oklch(17.226%_0.028_139.549)] bg-none shadow-lg p-4;
}

.toast-container .toast-error {
  @apply bg-[oklch(73.375%_0.165_35.353)] text-[oklch(17.226%_0.028_139.549)] bg-none shadow-lg p-4;
}

.toast-title {
  @apply font-semibold text-lg;
}

.toast-message {
  @apply text-sm;
}