services:
  frontend:
    build:
      context: ./web-ui/poc-print-ui
    image: printhub-ui:latest
    command: bash -c "
        envsubst < /usr/share/nginx/html/assets/env.template.js > /usr/share/nginx/html/assets/env.js
        && exec nginx -c /etc/nginx/nginx.conf -g 'daemon off;'
      "
    container_name: printhub-web-ui
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - ENV_PROD=true
      - ENV_API_URL=http://127.0.0.1:8000/api
      - ENV_TENANT_ID_HEADER=Pph-Tenant-Id
      - ENV_TENANT_TOKEN_HEADER=Pph-Tenant-Token
      - ENV_MESSAGE_ORIGIN_NAME=print-hub-web-ui
  backend:
    build:
      context: ./api
    image: printhub-api:latest
    command: bash -c "
        python manage.py migrate
        && python manage.py collectstatic --noinput
        && gunicorn --bind 0.0.0.0:8000 --workers 3 pocprintapi.wsgi:application
      "
    container_name: printhub-api
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - POC_PRINT_HUB_RABBIT_MQ_HOST=
      - POC_PRINT_HUB_RABBIT_MQ_USERNAME=
      - POC_PRINT_HUB_RABBIT_MQ_PASSWORD=
      - POC_PRINT_HUB_PRINTER_HOST=
      - DATABASES_POSTGRESQL_USER=
      - DATABASES_POSTGRESQL_PASSWORD=
      - DATABASES_POSTGRESQL_HOST=
      - DJANGO_ALLOWED_HOSTS=127.0.0.1	            # comma separated for multiple
      - CORS_ALLOWED_ORIGINS=http://127.0.0.1:8080	# comma separated for multiple
  celery_beat:
    build:
      context: ./api
    image: printhub-celery-beat:latest
    command: "celery -A pocprintapi beat -l info"
    container_name: printhub-celery-beat
    restart: unless-stopped
    environment:
      - POC_PRINT_HUB_RABBIT_MQ_HOST=
      - POC_PRINT_HUB_RABBIT_MQ_USERNAME=
      - POC_PRINT_HUB_RABBIT_MQ_PASSWORD=
      - POC_PRINT_HUB_PRINTER_HOST=
  celery_worker:
    build:
      context: ./api
    image: printhub-celery-worker:latest
    command: "celery -A pocprintapi worker -l INFO"
    container_name: printhub-celery-worker
    restart: unless-stopped
    environment:
      - POC_PRINT_HUB_RABBIT_MQ_HOST=
      - POC_PRINT_HUB_RABBIT_MQ_USERNAME=
      - POC_PRINT_HUB_RABBIT_MQ_PASSWORD=
      - POC_PRINT_HUB_PRINTER_HOST=